
@{
    ViewData["Title"] = "APIHubContextExample";
}

@section Scripts{

   <script>

       $(document).ready(function () {
           const connection = new signalR.HubConnectionBuilder().withUrl("https://localhost:7095/myhub").configureLogging(signalR.LogLevel.Information).build();

    async function start() {

        try {

            await connection.start().then(() => {
                console.log("Hub ile bağlantı kuruldu.");
                $("#connectionId").html(`Connection Id: ${connection.connectionId}`);
            });

        } catch (err) {
            console.log("hub ile bağlantı kurulamadı:", err)
            setTimeout(() => start(), 5000);
        }
    }

    connection.onclose(async () => {
        await start();
    })




     connection.on("ReceiveMessageForAllClient", (message) => {
        console.log("Gelen Mesaj (API Hub'dan) :", message);
    });


   


    start();

     
    $("#btn").click(function () {

        const message = "hello world";
        connection.invoke("BroadcastMessageAllClient", message).catch(err => console.log("hata", err));
        console.log("Mesaj Gönderildi");
    });




       })

   </script>

}

<h1>APIHubContextExample</h1>

<button id="btn">API Huba Mesaj Gönder</button>

