@{
    ViewData["Title"] = "Home Page";
}

@section Scripts{
    <script src="~/js/signalr-client.js"></script>

}

<div class="container">
    <div class="row">
        <div class="col-md-8 off-set-md-2">
            <button id="btn-send-message-all-client">Tüm clientlara Gönder</button>
        </div>
    </div>
</div>