@{
    ViewData["Title"] = "Home Page";
}

@section Scripts{
    <script src="~/js/signalr-client.js"></script>

}

<div class="container">
    <div class="row">
        <div class="col-md-8 off-set-md-2">
           <button type="button" class="btn btn-primary">
                 Connected Client Client <span id="span-connected-client-count" class="badge bg-secondary">4</span>
           </button>
            <button id="btn-send-message-all-client">Tüm clientlara Gönder</button>
        </div>
    </div>
</div>